#page-landing {
    width: 100vw;
    height: 100vw;
    background: #E5E5E5;

    display: flex;
    justify-content: center;
    align-items: center;
}


#page-landing .content-wrapper {
    position: relative;

    widows: 100%;
    max-width: 1100px;

    height: 100%;
    max-height: 680px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;


}
